kubernetes/#CS-CarrerKaizen-Kubernetes
kubernetes/#CS-CarrerKaizen-EKS
terraform/#CS-CarrerKaizen-Terraform
terraform/#CS-CarrerKaizen-Terraform-EKS
terraform/#old
terraform/composition/terraform-remote-backend/ap-northeast-1/prod/.terraform
terraform/composition/simple-note/ap-northeast-1/prod/.terraform
terraform/composition/simple-note/ap-northeast-1/prod/kubeconfig_eks-tokyo-prod-simple-note